##Ejercicio Data Quality - Perfilado
 ## Evaluar la calidad de datos de las ventas de productos

Se quiere hacer una evaluación de calidad de datos sobre las ventas (sales) y pagos (payments). Para ello se requiere hacer un análisis de los siguientes puntos:
```

Calidad de los datos
Selección de clave principal
Identificación de cardinalidad
Obtener media, varianza y desviacion Estandar, covarianza, correlacion
Mejorar la calidad.
Referencia: “Estadística Descriptiva con Python y Pandas”: https://coderhook.github.io/Descriptive%20Statistics

Columnas sales:, orderNumber, orderLineNumber, orderDate, shippedDate, requiredDate, customerNumber, employeeNumber, productCode, status, comments, quantityOrdered, priceEach, sales_amount, origin

Columnas payments:, customerNumber, checkNumber, paymentDate, amount

In [35]:
#Carga datos
import pandas as pd
import numpy as np
 
payments = pd.read_csv(r'https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/company_sales/payments.csv')
payments

sales = pd.read_csv(r'https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/company_sales/sales.csv')
sales

,0,0.1,0000-00-00,0000-00-00.1,0000-00-00.2,0.2,0.3,productCode,status,comments,0.4,0.00,0.00.1,origin
0,10100,1,0000-00-00,0000-00-00,0000-00-00,363,1216,S24_3969,Shipped,NaN,49,35.29,1729.21,spain
1,10100,2,0000-00-00,0000-00-00,0000-00-00,363,1216,S18_2248,Shipped,NaN,50,55.09,2754.50,spain
2,10100,3,0000-00-00,0000-00-00,0000-00-00,363,1216,S18_1749,Shipped,NaN,30,136.00,4080.00,spain
3,10100,4,0000-00-00,0000-00-00,0000-00-00,363,1216,S18_4409,Shipped,NaN,22,75.46,1660.12,spain
4,10101,1,0000-00-00,0000-00-00,0000-00-00,128,1504,S18_2795,Shipped,Check on availability.,26,167.06,4343.56,spain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,10425,9,0000-00-00,NaN,0000-00-00,119,1370,S24_2300,In Process,NaN,49,127.79,6261.71,spain
2997,10425,10,0000-00-00,NaN,0000-00-00,119,1370,S18_2432,In Process,NaN,19,48.62,923.78,spain
2998,10425,11,0000-00-00,NaN,0000-00-00,119,1370,S32_1268,In Process,NaN,41,83.79,3435.39,spain
2999,10425,12,0000-00-00,NaN,0000-00-00,119,1370,S10_4962,In Process,NaN,38,131.49,4996.62,spain
3000,10425,13,0000-00-00,NaN,0000-00-00,119,1370,S18_4600,In Process,NaN,38,107.76,4094.88,spain

In [14]:
payments.info()


#Diccionario de mapeo de nombres de columnas
mapeo_columnas = {'0': 'customerNumber','checkNumber':'checkNumber','0000-00-00':'paymentDate','0.00':'amount'}

# Renombrar las columnas del DataFrame
payments.rename(columns=mapeo_columnas, inplace=True)

print(payments.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerNumber  278 non-null    int64
 1   checkNumber     278 non-null    object
 2   paymentDate     278 non-null    object
 3   amount          278 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.8+ KB
   customerNumber checkNumber paymentDate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14
3             112    BO864823  2004-12-17  14191.12
4             112     HQ55022  2003-06-06  32641.98

In [16]:
sales.info()

#Diccionario de mapeo de nombres de columnas
mapeo_columnas_sales = {
    '0': 'orderNumber',
    '0.1': 'orderLineNumber',
    '0000-00-00': 'orderDate',
    '0000-00-00.1': 'shippedDate',
    '0000-00-00.2': 'requiredDate',
    '0.2': 'customerNumber',
    '0.3': 'employeeNumber',
    'productCode': 'productCode',
    'status': 'status',
    'comments': 'comments',
    '0.4': 'quantityOrdered',
    '0.00': 'priceEach',
    '0.00.1': 'sales_amount',
    'origin': 'origin'
}

# Renombrar las columnas del DataFrame
sales.rename(columns=mapeo_columnas_sales, inplace=True)

print(sales.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001 entries, 0 to 3000
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   orderNumber      3001 non-null   int64
 1   orderLineNumber  3001 non-null   int64
 2   orderDate        3001 non-null   object
 3   shippedDate      2859 non-null   object
 4   requiredDate     3001 non-null   object
 5   customerNumber   3001 non-null   int64
 6   employeeNumber   3001 non-null   int64
 7   productCode      3001 non-null   object
 8   status           3001 non-null   object
 9   comments         759 non-null    object
 10  quantityOrdered  3001 non-null   int64
 11  priceEach        3001 non-null   float64
 12  sales_amount     3001 non-null   float64
 13  origin           3001 non-null   object
dtypes: float64(2), int64(5), object(7)
memory usage: 328.4+ KB
   orderNumber  orderLineNumber   orderDate shippedDate requiredDate  \
0        10100                1  0000-00-00  0000-00-00   0000-00-00
1        10100                2  0000-00-00  0000-00-00   0000-00-00
2        10100                3  0000-00-00  0000-00-00   0000-00-00
3        10100                4  0000-00-00  0000-00-00   0000-00-00
4        10101                1  0000-00-00  0000-00-00   0000-00-00

   customerNumber  employeeNumber productCode   status  \
0             363            1216    S24_3969  Shipped
1             363            1216    S18_2248  Shipped
2             363            1216    S18_1749  Shipped
3             363            1216    S18_4409  Shipped
4             128            1504    S18_2795  Shipped

                 comments  quantityOrdered  priceEach  sales_amount origin
0                     NaN               49      35.29       1729.21  spain
1                     NaN               50      55.09       2754.50  spain
2                     NaN               30     136.00       4080.00  spain
3                     NaN               22      75.46       1660.12  spain
4  Check on availability.               26     167.06       4343.56  spain

In [24]:
# Selección de clave principal

# Combinar los DataFrames utilizando una clave compuesta
merged_pay_sale = pd.merge(sales, payments, on='customerNumber', how = 'outer', indicator = True)

# Imprimir el DataFrame combinado

print(merged_pay_sale.head())

print(merged_pay_sale.tail())

   orderNumber  orderLineNumber   orderDate shippedDate requiredDate  \
0        10123                1  0000-00-00  0000-00-00   0000-00-00
1        10123                1  0000-00-00  0000-00-00   0000-00-00
2        10123                1  0000-00-00  0000-00-00   0000-00-00
3        10123                2  0000-00-00  0000-00-00   0000-00-00
4        10123                2  0000-00-00  0000-00-00   0000-00-00

   customerNumber  employeeNumber productCode   status comments  \
0             103            1370    S24_1628  Shipped      NaN
1             103            1370    S24_1628  Shipped      NaN
2             103            1370    S24_1628  Shipped      NaN
3             103            1370    S18_1589  Shipped      NaN
4             103            1370    S18_1589  Shipped      NaN

   quantityOrdered  priceEach  sales_amount origin checkNumber paymentDate  \
0               50      43.27       2163.50  spain    HQ336336  2004-10-19
1               50      43.27       2163.50  spain    JM555205  2003-06-05
2               50      43.27       2163.50  spain    OM314933  2004-12-18
3               26     120.71       3138.46  spain    HQ336336  2004-10-19
4               26     120.71       3138.46  spain    JM555205  2003-06-05

     amount _merge
0   6066.78   both
1  14571.44   both
2   1676.14   both
3   6066.78   both
4  14571.44   both
       orderNumber  orderLineNumber   orderDate shippedDate requiredDate  \
12130        10399                7  0000-00-00  0000-00-00   0000-00-00
12131        10399                7  0000-00-00  0000-00-00   0000-00-00
12132        10399                8  0000-00-00  0000-00-00   0000-00-00
12133        10399                8  0000-00-00  0000-00-00   0000-00-00
12134        10399                8  0000-00-00  0000-00-00   0000-00-00

       customerNumber  employeeNumber productCode   status comments  \
12130             496            1612    S10_2016  Shipped      NaN
12131             496            1612    S10_2016  Shipped      NaN
12132             496            1612    S10_1678  Shipped      NaN
12133             496            1612    S10_1678  Shipped      NaN
12134             496            1612    S10_1678  Shipped      NaN

       quantityOrdered  priceEach  sales_amount origin checkNumber  \
12130               51      99.91       5095.41  spain    MB342426
12131               51      99.91       5095.41  spain     MN89921
12132               40      77.52       3100.80  spain    EU531600
12133               40      77.52       3100.80  spain    MB342426
12134               40      77.52       3100.80  spain     MN89921

      paymentDate    amount _merge
12130  2003-07-16  32077.44   both
12131  2004-12-31  52166.00   both
12132  2005-05-25  30253.75   both
12133  2003-07-16  32077.44   both
12134  2004-12-31  52166.00   both

In [32]:
merged_pay_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12135 entries, 0 to 12134
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   orderNumber      12135 non-null  int64
 1   orderLineNumber  12135 non-null  int64
 2   orderDate        12135 non-null  object
 3   shippedDate      11566 non-null  object
 4   requiredDate     12135 non-null  object
 5   customerNumber   12135 non-null  int64
 6   employeeNumber   12135 non-null  int64
 7   productCode      12135 non-null  object
 8   status           12135 non-null  object
 9   comments         3064 non-null   object
 10  quantityOrdered  12135 non-null  int64
 11  priceEach        12135 non-null  float64
 12  sales_amount     12135 non-null  float64
 13  origin           12135 non-null  object
 14  checkNumber      12135 non-null  object
 15  paymentDate      12135 non-null  object
 16  amount           12135 non-null  float64
 17  _merge           12135 non-null  category
dtypes: category(1), float64(3), int64(5), object(9)
memory usage: 1.6+ MB

In [26]:
# Identificación de cardinalidad


# Contar las ocurrencias de cada tipo de relación
cardinalidad = merged_pay_sale['_merge'].value_counts()

print(cardinalidad)

_merge
both          12135
left_only         0
right_only        0
Name: count, dtype: int64

In [29]:
merged_pay_sale.describe()

,orderNumber,orderLineNumber,customerNumber,employeeNumber,quantityOrdered,priceEach,sales_amount,amount
count,12135.000000,12135.000000,12135.000000,12135.000000,12135.000000,12135.000000,12135.000000,12135.000000
mean,10268.261557,6.480429,215.378904,1312.386321,35.350639,90.489844,3207.886866,43310.415009
std,97.138924,4.210831,111.267488,289.218619,9.641869,36.800733,1640.172089,27281.457050
min,10100.000000,1.000000,103.000000,0.000000,6.000000,26.550000,481.500000,615.450000
25%,10182.000000,3.000000,141.000000,1216.000000,27.000000,60.900000,1979.580000,25080.960000
50%,10272.000000,6.000000,145.000000,1370.000000,35.000000,85.860000,2864.160000,39440.590000
75%,10358.000000,9.000000,298.000000,1401.000000,43.000000,115.030000,4091.900000,51619.020000
max,10425.000000,18.000000,496.000000,1702.000000,97.000000,214.300000,11503.140000,120166.580000

In [41]:
merged_pay_sale_del = merged_pay_sale.dropna()

merged_pay_sale_del = merged_pay_sale.drop_duplicates()
merged_pay_sale_del.duplicated().sum()

print

In [43]:
import warnings 
warnings.filterwarnings('ignore')

from datetime import datetime, timedelta




merged_pay_sale_del['orderDate'] = pd.to_datetime(merged_pay_sale_del['orderDate'], errors='coerce')
merged_pay_sale_del['shippedDate'] = pd.to_datetime(merged_pay_sale_del['shippedDate'], errors='coerce')
merged_pay_sale_del['requiredDate'] = pd.to_datetime(merged_pay_sale_del['requiredDate'], errors='coerce')

merged_pay_sale_del.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2668 entries, 21 to 12056
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   orderNumber      2668 non-null   int64
 1   orderLineNumber  2668 non-null   int64
 2   orderDate        0 non-null      datetime64[ns]
 3   shippedDate      0 non-null      datetime64[ns]
 4   requiredDate     0 non-null      datetime64[ns]
 5   customerNumber   2668 non-null   int64
 6   employeeNumber   2668 non-null   int64
 7   productCode      2668 non-null   object
 8   status           2668 non-null   object
 9   comments         2668 non-null   object
 10  quantityOrdered  2668 non-null   int64
 11  priceEach        2668 non-null   float64
 12  sales_amount     2668 non-null   float64
 13  origin           2668 non-null   object
 14  checkNumber      2668 non-null   object
 15  paymentDate      2668 non-null   object
 16  amount           2668 non-null   float64
 17  _merge           2668 non-null   category
dtypes: category(1), datetime64[ns](3), float64(3), int64(5), object(6)
memory usage: 377.9+ KB

In [45]:
merged_pay_sale = merged_pay_sale.select_dtypes(np.number)
merged_pay_sale.columns

Index(['orderNumber', 'orderLineNumber', 'customerNumber', 'employeeNumber',
       'quantityOrdered', 'priceEach', 'sales_amount', 'amount'],
      dtype='object')

In [46]:
merged_pay_sale.corr(method = 'pearson')

,orderNumber,orderLineNumber,customerNumber,employeeNumber,quantityOrdered,priceEach,sales_amount,amount
orderNumber,1.000000,-0.043601,-0.055823,0.093933,0.061193,-0.000631,0.037534,0.075594
orderLineNumber,-0.043601,1.000000,-0.046181,-0.025340,-0.030471,0.003338,-0.023161,0.070400
customerNumber,-0.055823,-0.046181,1.000000,0.047658,-0.008200,-0.009333,-0.008878,-0.315141
employeeNumber,0.093933,-0.025340,0.047658,1.000000,-0.011477,-0.024298,-0.026997,-0.022254
quantityOrdered,0.061193,-0.030471,-0.008200,-0.011477,1.000000,0.025449,0.567394,0.016842
priceEach,-0.000631,0.003338,-0.009333,-0.024298,0.025449,1.000000,0.808453,-0.004082
sales_amount,0.037534,-0.023161,-0.008878,-0.026997,0.567394,0.808453,1.000000,0.004644
amount,0.075594,0.070400,-0.315141,-0.022254,0.016842,-0.004082,0.004644,1.000000