In [2]:
print("hello")

hello

In [4]:
m = 2
n = 4
r = (m-n)+3
r
rr = r/4
c = r % 4
print ("resto",c)

resto 1

In [6]:
m = 2
n= 3
m != n
m > n
m>= n

False

In [11]:
t1 = "a"
t2 = "b"
t1 < t2

True

In [ ]:
l1 = ["aa",2,3] #nombre, edad, peso
# 300 líneas de código
l2 = ["ss",2,5]
l1 > l2

False

In [18]:
(t1>t2) or (l2>l1)

True

In [22]:
(t1>t2) and (l1>l2)

False

In [24]:
l1 + l2

[1, 2, 3, 1, 2, 5]

In [26]:
not (t1>t2) and (l1>l2)

False

In [30]:
"data" in "hola data mundo"

True

In [32]:
l1 = [1,2,3]
"data" not in l1

True

In [34]:
l1 = [1,2,3]
"data" in l1

False

In [36]:
m = 3
n = 3
m == n

True

In [38]:
m = 3
n = 3
m is n

True

In [42]:
m = [3]
n = [3]
m is n
m = n
print (id(m), id(n))

140255339911232 140255339911232

In [44]:
1 + (2 + 3)

6

In [46]:
x = 4.6
int(x)

4

In [48]:
y = 3
float (y)

3.0

In [51]:
texto = "Hola mundo"
texto2 = 'Hola mundo'
textomultilinea = '''Esto es un texto con 
salto de linea'''
textomultilinea
print (texto)

Hola mundo

In [53]:
texto = "Hola mundo"
texto2 = 'Hola mundo'
textomultilinea = '''Esto es un texto con 
salto de linea'''
textomultilinea

'Esto es un texto con \nsalto de linea'

In [55]:
texto = "Hola mundo"
texto2 = 'Hola mundo'
textomultilinea = '''Esto es un texto con 
salto de linea'''
textomultilinea

textoconcomillas = 'un texto con "comillas"'
textoconcomillas = "un texto con 'comillas'"
textoconcomillas = "un texto con \"comillas\""


textoconcomillas

'un texto con "comillas"'

In [57]:
len(textoconcomillas)

23

In [59]:
l1 = [1,2,3,4]
len(l1)

4

In [61]:
list ("Hola mundo")

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

In [63]:
set ("Hola mundo")

{' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'u'}

In [65]:
l1 = list ("Hola mundo")
s1 = set ("Hola mundo")
print (l1, s1)

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o'] {'l', 'a', 'd', 'n', 'H', 'm', ' ', 'u', 'o'}

In [67]:
sorted ("Hola mundo")

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [69]:
sorted (l1)

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [71]:
sorted (s1)

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'u']

In [73]:
"Hola mundo".upper()

'HOLA MUNDO'

In [76]:
"Hola mundo".lower ()

'hola mundo'

In [78]:
"hola mundo".capitalize ()

'Hola mundo'

In [82]:
"hola mundo".replace("a","x")

'holx mundo'

In [84]:
str = "hola mundo"
str.replace("a","x")
str.split(" ")

['hola', 'mundo']

In [86]:
str = "hola mundo"
str.replace("a","x")
l1 = str.split(" ")
"_".join(l1)

'hola_mundo'

In [88]:
str = "hola mundo"
str.replace("a","x")
l1 = str.split(" ")
"_".join(l1)
"_".join(str.split())

'hola_mundo'

In [92]:
str = "hola mundo hola"
str.replace("a","x")
l1 = str.split(" ")
"_".join(l1)
"_".join(str.split())

str.split(" ").count("hola")

2

In [95]:
l2 = list({1,2,3})
l2

[1, 2, 3]

In [97]:
l3 = list((1,4,7,8))
l3

[1, 4, 7, 8]

In [99]:
#modificación de una tupl a lista para poder modficarlos
t1 = (1,2,3)
l2 =list(t1)
l2

[1, 2, 3]

In [101]:
l1 = [1,3,4,5,6,7,8,4,65,34]
l1[4]

6

In [104]:
l1 = [1,3,4,5,6,7,8,4,65,34]
primero = l1[0]
ultimo = l1[9]
print(primero,ultimo)

1 34

In [110]:
l1 = [1,3,4,5,6,7,8,4,65,34]
primero = l1[0]
ult = l1[len(l1)-1]
print(ult)

34

In [115]:
l1 = [1,3,4,5,6,7,8,4,65,34]
primero = l1[0]
ult = l1[len(l1)-1]
print(primero,ult)

# l1[ind_init:ind_final:salto]

# ind_final no incluye el propio indice


l1[2:4:7]

1 34

[4]

In [120]:
l1[1:3]=['a','b']
l1

[1, 'a', 'b', 5, 6, 7, 8, 4, 65, 34]

In [122]:
l1.append(4)
l1

[1, 'a', 'b', 5, 6, 7, 8, 4, 65, 34, 4, 4]

In [127]:
l2 = [x,y,m]
l1.extend(l2)
l1

[1, 'a', 'b', 5, 6, 7, 8, 4, 65, 34, 4, 4, 4.6, 3, [3], 4.6, 3, [3]]

In [129]:
l2 = [x,y,m]
l1.extend(l2)
l1
l3 = l1 + l2
l3

[1,
 'a',
 'b',
 5,
 6,
 7,
 8,
 4,
 65,
 34,
 4,
 4,
 4.6,
 3,
 [3],
 4.6,
 3,
 [3],
 4.6,
 3,
 [3],
 4.6,
 3,
 [3],
 4.6,
 3,
 [3]]

In [132]:
l1.insert(2,'hola')
l1

[1,
 'a',
 'hola',
 'hola',
 'hola',
 'b',
 5,
 6,
 7,
 8,
 4,
 65,
 34,
 4,
 4,
 4.6,
 3,
 [3],
 4.6,
 3,
 [3],
 4.6,
 3,
 [3],
 4.6,
 3,
 [3]]

In [134]:
l1 = [1,2,3,4,5,6,78]
del(l1[:3])
l1

[4, 5, 6, 78]

In [136]:
l1 = [1,2,3,4,5,6,7,8]
e1 = l1.pop(2)
print(e1,l1)

3 [1, 2, 4, 5, 6, 7, 8]

In [144]:
l1 = [1,2,3]
l2 = ["a","b","c"]

try:
    l1 > l2
except:
        print("Error!")

print('Continua...')

Error!
Continua...