
Ejercicios Series

In [7]:
import pandas as pd

In [8]:
#1. Escribe un programa Pandas para cambiar el tipo de datos de una columna o serie dada. Serie de muestra:
"""    Serie de datos originales:
0       100
1       200
2    python
3    300.12
4       400
dtype: objeto
Cambio a numérico:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
tipo: float64"""

s = pd.Series([100, 200, 'python', 300.12, 400] ) 
sn=pd.to_numeric(s,errors='coerce')
print(sn)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [9]:
#2_Escribe un programa Pandas para convertir series de listas en una serie.
"""ConnectionErrorEjemplo de salida:
Serie original de listas
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: objeto
Una serie:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: objeto"""

#from itertools import chain 
serie = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
serie.apply(pd.Series).stack().reset_index(drop=True)
#serie.apply(pd.Series())
#serie2=pd.Series(chain.from_iterable(serie.tolist()))

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [10]:
#3_Escribe un programa Pandas para agregar algunos datos a una serie existente.
"""Ejemplo de salida:
Serie de datos originales:
0       100
1       200
2    python
3    300.12
4       400
dtype: objeto

Serie de datos después de agregar algunos datos:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: objeto"""

s1= pd.Series([100, 200, 'python', 300.12, 400]) 
# Nuevos datos a agregar 
datos_nuevos = pd.Series([500, 600]) 
# Combinar la serie original con los nuevos datos 
nueva_s1 = pd.concat([s1, datos_nuevos], ignore_index=True) 
print("\nSerie de datos actualizada:") 
print(nueva_s1)

Serie de datos actualizada:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       600
dtype: object

In [11]:
#4_Escribe un programa Pandas para crear otra serie con un subconjunto de datos según un valor y una condición dada.
"""Ejemplo de salida:
Serie de datos originales:
0      0
1      1
2      2

....

9      9
10    10
tipo: int64

Subconjunto de la serie de datos anterior:
0    0
1    1
2    2
3    3
4    4
5    5
tipo: int64"""

s2=pd.Series(list(range(11)))

s2[s2 <= 5]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [12]:
#5_Escribe un programa Pandas para cambiar el orden del índice de una serie dada.
"""Ejemplo de salida:
Serie de datos originales:
A    1
B    2
C    3
D    4
E    5
tipo: int64

Serie de datos después de cambiar el orden del índice:
B    2
A    1
C    3
D    4
E    5
tipo: int64"""
import pandas as pd

#s3=pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5}
s3=pd.Series(data=[1,2,3,4,5], index=['a','b','c','d','e'])
print(s3)
s3 = s3.reindex(['b', 'a', 'c', 'd', 'e'])
print(s3)

a    1
b    2
c    3
d    4
e    5
dtype: int64
b    2
a    1
c    3
d    4
e    5
dtype: int64

In [14]:
#6_Escribe un programa Pandas para obtener los elementos de una serie dada que no están presentes en otra serie dada.
"""Ejemplo de salida:  
Serie original:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Elementos de sr1 no presentes en sr2:
0    1
2    3
4    5
tipo: int64"""

sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([2,4,6,8,10])
print(sr1)
print(sr2)

mask = ~sr1.isin(sr2)
sr1[mask]

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1
2    3
4    5
dtype: int64

In [15]:
import numpy as np

In [16]:
#8_Escribe un programa Pandas para calcular los conteos de frecuencia de cada valor único de una serie dada.
#9_Escribe un programa Pandas para mostrar el valor más frecuente en una serie dada y reemplazar todo lo demás con el valor 'Otro'.
"""Ejemplo de salida:
Serie original:
0     1
1     7
2     1
3     6

...


37    0
38    4
39    8
dtype: objeto
Frecuencia de cada valor único de dicha serie.
0    9
2    7
9    6
....
3    2
4    1
5    1
tipo: int64"""

nums=np.random.randint(1,5, [15])

s4=pd.Series(nums)
print(s4)
conteo=s4.value_counts()
print(conteo)
print(conteo.index)
print(conteo.index[0])
mask = ~s4.isin([conteo.index[0]])
s4[mask]='otro'
s4

0     4
1     1
2     4
3     1
4     4
5     4
6     3
7     3
8     1
9     4
10    1
11    4
12    2
13    2
14    3
dtype: int64
4    6
1    4
3    3
2    2
dtype: int64
Int64Index([4, 1, 3, 2], dtype='int64')
4

0        4
1     otro
2        4
3     otro
4        4
5        4
6     otro
7     otro
8     otro
9        4
10    otro
11       4
12    otro
13    otro
14    otro
dtype: object

In [17]:
#10_Escribe un programa Pandas para obtener las posiciones de los elementos de una serie dada en otra serie dada.
"""Ejemplo de salida:  
Serie original:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
tipo: int64
0     1
1     3
2     5
3     7
4    10
tipo: int64
Posiciones de los elementos de la serie 2 en la serie 1:
[0, 2, 4, 6, 9]"""

s5=pd.Series([1,2,3,4,5,6,7,8,9,10])

posiciones=[0,2,4,6,9]
serie_de_s5=s5.iloc[posiciones]
print(serie_de_s5)

0     1
2     3
4     5
6     7
9    10
dtype: int64

In [18]:
#11_Escribe un programa Pandas que convierta el primer y el último carácter de cada palabra a mayúsculas en cada palabra de una serie dada.
"""Ejemplo de salida:
Serie original:
0       php
1    python
2      java
3        c#
dtype: objeto

Primer y último carácter de cada palabra en mayúscula:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: objeto"""

s6 = pd.Series(['php','python','java','c#'])
def mayusculas(palabra):
    if len(palabra) > 1:
        return palabra[0].upper() + palabra[1:-1] + palabra[-1].upper()
    else:
        return palabra.upper()  

#result=s6.apply(lambda x: x[0]+x[1:-1]+x[-1]).upper())
s6_nueva=s6.apply(mayusculas)
print(s6_nueva)

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [19]:
#12_Escribe un programa Pandas para calcular la diferencia de diferencias entre números consecutivos de una serie dada.
"""Ejemplo de salida:
Serie original:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
tipo: int64

Diferencia de diferencias entre números consecutivos de la serie:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]"""

s7=pd.Series([1,3,5,8,10,11,15])

diferencias = s7.diff()

diferencias_diferencias = diferencias.diff()
print(diferencias_diferencias)

0    NaN
1    NaN
2    0.0
3    1.0
4   -1.0
5   -1.0
6    3.0
dtype: float64