In [1]:
print ("hola mundo!!")
print ("como estais???")

hola mundo!!
como estais???

In [3]:
num1 = 3
text = "El texto se escribe entre comillas simples o dobles"

print (num1)
print(text)

3
El texto se escribe entre comillas simples o dobles

In [4]:
type (text)

str

In [5]:
resultado = num1 + num1
print(resultado)

6

In [6]:
reusltado = num1 + text
resultado

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
booleano = True
type (booleano)

bool

In [ ]:
complejo = 3 + 4j
print (complejo)
type (complejo)

(3+4j)

complex

In [ ]:
decimal = 2.4
type(decimal)

float

In [ ]:
print ("el valor del número complejo es", complejo)

el valor del número complejo es (3+4j)

In [ ]:
entrada = int(input ("Escribo un numero para que aparezca"))
print ("El usuario ha escrito",entrada)
type (entrada)

El usuario ha escrito 59

int

In [ ]:
unaLista = [2,5,6,7,812,45,678]
type(unaLista)

list

In [ ]:
cajondesastre = ["texto", 6, True]
print(cajondesastre)
print (unaLista[4])

['texto', 6, True]
812

In [ ]:
unaLista[4] = "numeritos"
print(unaLista)

[2, 5, 6, 7, 'numeritos', 45, 678]

In [ ]:
unatupla = ("txto", 4, True, 45)
print (unatupla)
print (unatupla[3])

('txto', 4, True, 45)
45

In [ ]:
unatupla[2] = "numeritos"

TypeError: 'tuple' object does not support item assignment

In [ ]:
unatupla[0:2]

('txto', 4)

In [ ]:
conjunto = {"texto",45,"que",66}
type (conjunto)

set

In [ ]:
diccionario = {"texo":"es texto", "num":66, "booleano":False}
print(diccionario)

{'texo': 'es texto', 'num': 66, 'booleano': False}

In [ ]:
diccionario["num"]

66

In [ ]:
num2 = 56
text2 = "esto es un texto de ejercicio"
list2 = [3,5,"ede",56,False]
tupla2 = (4,"eder",45,7)
conjunto2 = {4,3,2,5,6,"escribo", True}
diccionario = {"texto":text2,"numero":num2}
print(num2,text2, tupla2)

56 esto es un texto de ejercicio (4, 'eder', 45, 7)

In [ ]:
lucky = {"nombre":"lucky","tipo animal":"perro","peso":4, "edad":5}
manuelita = {"nombre":"manuelita","tipo animal":"tortuga","peso":0.2, "edad":56}
odie = {"nombre":"odie","tipo animal":"perro","peso":2, "edad":10}
maestro = {"nombre":"maestro","tipo animal":"tortuga","peso":0.2, "edad":56}

perros = [lucky,odie]
tortugas = [manuelita,maestro]

veterinaria = {"perros":perros,"tortugas":tortugas}

print ("Todos los animales",veterinaria)

print ("la segunda tortuga",tortugas[maestro])

Todos los animales {'perros': [{'nombre': 'lucky', 'tipo animal': 'perro', 'peso': 4, 'edad': 5}, {'nombre': 'odie', 'tipo animal': 'perro', 'peso': 2, 'edad': 10}], 'tortugas': [{'nombre': 'manuelita', 'tipo animal': 'tortuga', 'peso': 0.2, 'edad': 56}, {'nombre': 'maestro', 'tipo animal': 'tortuga', 'peso': 0.2, 'edad': 56}]}

TypeError: list indices must be integers or slices, not dict